name: biz1

on:
  push:
    branches: [main]

jobs:
  job1:
    uses: ./.github/workflows/env

  job2:
    runs-on: ubuntu-latest
    needs: job1
    steps:
      - run: echo ${{ needs.job1.outputs.env1 }} "in the biz1." ${{ needs.job1.outputs.secondword }} "in the biz1."
