name: biz1

on:
#   push:
#     branches: [main]
  repository_dispatch:
    types: [test-deploy1]

jobs:
  job1:
    uses: ./.github/workflows/env.yml

  job2:
    runs-on: ubuntu-latest
    needs: job1
    steps:
      - run: |
          if [[ true ]]
          then
            error
            echo  "${{ needs.job1.outputs.firstword }} ${{ needs.job1.outputs.secondword }} in the biz1."
            echo ${{ github.workspace }}
          fi
