name: biz2

on:
  push:
    branches: [main]

jobs:
  job1:
    uses: ./.github/workflows/env.yml
  job2:
    uses: ./.github/workflows/biz1.yml
  job3:
    runs-on: ubuntu-latest
    needs: job1
    steps:
      - run: echo  "${{ needs.job1.outputs.firstword }}  ${{ needs.job1.outputs.secondword }} in the biz2."
