name: env

on:
  workflow_call:
    # Map the workflow outputs to job outputs
    outputs:
      firstword:
        description: "The first output string"
        value: "evn1"
      secondword:
        description: "The second output string"
        value: "env2"

jobs:
  example_job:
    name: Set evn
    runs-on: ubuntu-latest
    # Map the job outputs to step outputs
    steps:
      - id: step1
        run: echo "set evn"
