name: Java CI     #Actions名称

on: 
  push:
#     branches: [main]
    tags:
      - "v*"       #在提交master时触发

jobs:
  setup:
    permissions: write-all
    runs-on: ubuntu-latest    #运行环境
    steps:
      - name: Set up JDK 1.8
        uses: joschi/setup-jdk@v2
        with:
          java-version: '8'
  build:
    needs: setup
    #	配置权限
    permissions: write-all
    runs-on: ubuntu-latest    #运行环境
    steps:
      # 下载代码
      - uses: actions/checkout@master    #获取main分支      
      - name: Build with Maven
        run: mvn -B package --file pom.xml
      - run: mkdir staging && cp target/*.jar staging
      # 设置 jobs Maven pom 版本环境变量
      - name: Set Release version env variable
        run: |
          echo "RELEASE_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_ENV
      - name: "Build & test"
        run: |
          echo "done!"
  deploy:
    needs: build
    #	配置权限
    permissions: write-all
    runs-on: ubuntu-latest    #运行环境
    steps:
      # 上传文件并发布 Release
      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: false
          title: "Release ${{ env.RELEASE_VERSION }}"
      - name: executing remote ssh commands using password
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.SSH_PASSWORD }}
          port: ${{ secrets.SSH_PORT }}
          script: Invoke-RestMethod -Uri "https://github.com/liqiwork1/demo/releases/download/0.0.1-SNAPSHOT/demo-0.0.1-SNAPSHOT.jar" -OutFile "aa.jar"
