
name: self-hosted CI     #Actions名称

on: 
  push:
    branches: [main]
    tags:
      - "v*"       #在提交master时触发
      
permissions:
  id-token: write
  contents: read
  actions: read
jobs:
  setup:
    permissions: write-all
    runs-on: self-hosted    #运行环境
    steps:
      - name: Set up JDK 1.8
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'temurin'
          cache: maven
  build:
    needs: setup
    #	配置权限
    permissions: write-all
    runs-on: ubuntu-latest    #运行环境
    steps:
      # 下载代码
      - uses: actions/checkout@master    #获取main分支      
      - name: Build with Maven
        run: mvn -B package --file pom.xml
      - run: mkdir staging && cp target/*.jar staging
      - uses: actions/upload-artifact@v3
        with:
          name: Package
          path: staging
      # 设置 jobs Maven pom 版本环境变量
#       - name: Set Release version env variable
#         run: |
#           echo "RELEASE_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_ENV
#       - name: "Build & test"
#         run: |
#           echo "done!"
#   deploy:
#     needs: build
#     #	配置权限
#     permissions: write-all
#     runs-on: ubuntu-latest    #运行环境
#     environment: 
#       name: aa
#       url: https://github.com
#     steps:
#       # 上传文件并发布 Release
#       - uses: "marvinpinto/action-automatic-releases@latest"
#         with:
#           repo_token: "${{ secrets.GITHUB_TOKEN }}"
#           automatic_release_tag: "latest"
#           prerelease: false
#           title: "Release ${{ env.RELEASE_VERSION }}"
#       - name: Archive code coverage results
#         uses: actions/upload-artifact@v3
#         with:
#           name: Package
#           path: build/jar
