name: useing

on:
  repository_dispatch:
    types: [test-reuseing]

jobs:
  job1:
    uses: liqiwork1/reuseing/.github/workflows/reuseing.yml@main
  job2:
    runs-on: ubuntu-latest
    needs: job1
    steps:
      - run: echo 'This is useing.'
