name: useing

env:
  branch: branch1

on:
  repository_dispatch:
    types: [test-reuseing]

jobs:
  job0:
    runs-on: ubuntu-latest
    steps:
      - run : echo "Branch=liqiwork1/reuseing/.github/workflows/reuseing.yml@branch1" >> $GITHUB_ENV
  job1:
    needs: job0
    uses: $Branch
  job2:
    runs-on: ubuntu-latest
    needs: job1
    steps:
      - run: echo 'This is useing.'
